.header{
    height:95vh;
    display: flex;justify-content: space-between;
    background-image: linear-gradient(to right bottom,rgba($color-primary-dark, 0.8),rgba($color-primary-light, 0.8))
    ,url(../img//hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    background-color: $color-grey-light-1;

    // position: relative;
    .logo-box{
        margin-top: 2rem;
        margin-left: 2rem;
        // position: absolute;
        // top: 30px;
        // left:30px;
        // width:50px
        
    }
    .logo{
        height: 3.5rem;
        width: 6rem;
    }
   
  
}


 