.navigation{
      display: flex;
      justify-content: center;
      align-items: center;
    &_checkbox{
      display: none;
    }
    &_button{
        background-color: $color-white;
        width: 7rem;
        height: 7rem;
        position:fixed;
        top: 6.5rem;
        right:6rem;
        z-index: 20000;
        border-radius: 50%;
    }
    &_background{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-image:radial-gradient($color-primary-light,$color-primary-dark);
       z-index: 10000;
        position: fixed;
        top: 6.5rem;
        right:6.5rem;
        transform: scale(80);
    }
    &_nav{
        width: 100vw;
        height: 100vh;
        // position: fixed;
        // top: 0%;
        // left: 0%;
        z-index: 15000;
        // display: flex;
    }
    &_list{
        // position: absolute;
        // top: 20%;
        // left: 20%;
        list-style: none;
        ;
        // text-align: center;
    }
    &_item{
        margin: 1rem;
    }
    &_link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
            padding: 1rem 2rem;
            color: $color-white;
            background-image: linear-gradient(120deg,transparent 0%,transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all 0.5s ease;
        }
        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }
    
    
}