.section-booking{
    padding: 15rem 0;
    background-image: linear-gradient( to right bottom, $color-primary-light,$color-primary-dark);
    .booking{
        background-image: url("../img//nat-10.jpg");
        background-size: 100%;
        border-radius: 3px;
        box-shadow: 0 1.5 4rem rgba($color-black,.5);
        height: 50rem;
    }
}