.about{
    background-color: $color-grey-light-1;
    padding: 40rem 0;
    margin-top: -29vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-heading{
        margin-bottom: 8rem;
    }
    &-content{
        display: flex;
        justify-content: space-evenly;
        padding-left: 20rem;
        // flex-wrap: wrap;
        &-heading{
            // font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        &-paragraph{
            // font-size: 1.6rem;
            &:not(:last-child){
                margin-bottom: 3rem;
            }
        
        }
        
    }


}
.left-side{
    width:40%
}
.right-side{
   flex-grow: 1;
   position: relative;
   padding: 5rem;
    &-pic{
        width:270px;
        height:200px;
        position: absolute;
        transition: all .4s;
        outline-offset: 2rem;
        border-radius: 2px;
        &:hover{
            transform: scale(1.1) translateY(-.5rem);
            z-index: 1;
            outline: 1.5rem solid $color-primary;
        }
        &:not(:hover){
         transform: scale(.95);
        }
    }
    .pic1{
          
        background-image: url(../img/nat-1.jpg);
       
        left: 15rem;
        top: -2rem;
       
    }
    .pic2{
          
        background-image: url(../img/nat-2.jpg);
        right: 5rem;
        top: 3rem;

    }
    .pic3{
      
        background-image: url(../img/nat-3.jpg);
        left: 20rem;
        top: 10rem;

    }

}