.form{
    
    &-group{
        &-btn{
            padding-bottom: 2rem;
        }
        margin-top: 5rem;
        &-radio{
            display: flex;
            justify-content: space-around;
        }
        &-form-radio{
            position: relative;
        }
    }
    &-group-button{
        padding: 2rem 5rem;
        margin-top: 2rem; 
    }
    &-group:not(:last-child){
        margin-bottom: 2rem;
    }
    &-group:first-child{
        margin-top: 5rem;
    }
    &-input{
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white,0.5);
        border:none;
        font-family: inherit;
        border-bottom: 3px solid rgba($color-white,.5);
        width:100%;
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark; 
        }
        &::-webkit-input-placeholder{
            color:$color-grey-dark-2;
        }
        

    }
    &-input:placeholder-shown + &-label{
        opacity:0;
        visibility: hidden;
    }
    // &-label{
    //     font-size: 1.2rem;
    //     font-weight: 700;
    //     margin-left: 2rem;
    //     margin-top: 0.7rem;
    //     display: block;
    // }
    &-radio-label {
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }
    &-radio-button{
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -50%;
        &::after{
            content:"";
            display: block;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: $color-primary;
            opacity: 0;
        }
    }
    &-radio-input:checked ~ &-radio-label &-radio-button::after {
        opacity: 1;
    }
    &-radio-input {
        display: none;
    }

   
}