.popups{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-grey-dark-3,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    &-content{
        width:80%;
        height:90%;
        background-color: white;
        display: flex;
    }
    &-left{
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &-right{
        width: 65%;
        height: 100%;
        padding: 5rem;
    }
    &-img-1,&-img-2{
        width:100%;
        height:100%;
        }
    &-close{
       @include position;
        }
        &-text{
            column-count: 2;
            column-gap: 4rem;
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }
}




