*,
*::after,
*::before{
margin: 0;
padding: 0;
box-sizing: inherit;
font-size: 1.6rem;
}
html{
    font-size: 62.5%;
    //100%-----16px
    //X--------10px
    //10*100/16=62.5%
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem 3rem 0rem 3rem;
    box-sizing: border-box;background-color: white;
}