/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem 3rem 0rem 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}
@media only screen and (max-width: 75em) {
  body {
    padding: 0;
  }
}

.h-secondary {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(126, 213, 111, 0.8431372549)), to(rgba(40, 180, 133, 0.9098039216)));
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8431372549), rgba(40, 180, 133, 0.9098039216));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.h-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg);
          transform: skewY(2deg) skewX(15deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 50px;
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
}
.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.4);
          transform: scaleX(1.5) scaleY(1.4);
  opacity: 0;
}
.btn-white::after {
  background-color: #fff;
}
.btn-text:link, .btn-text:visited {
  color: rgba(85, 197, 122, 0.8078431373);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid rgba(85, 197, 122, 0.8078431373);
  padding-bottom: 3px;
}
.btn-text:hover {
  background-color: rgba(85, 197, 122, 0.8078431373);
  color: white;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn-text:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-green {
  background-color: rgba(85, 197, 122, 0.8078431373);
  color: #fff;
}
.btn-green::after {
  background-color: rgba(85, 197, 122, 0.8078431373);
}

.card {
  width: 35rem;
  height: 52rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
}
.card-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  overflow: hidden;
}
.card-side-front {
  background-color: white;
  width: 100%;
  height: 100%;
}
.card-side-back {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card:hover .card-side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card:hover .card-side-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.card-pic {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card-pic-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card-heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 64%;
}
.card-heading-span {
  padding: 13px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card-heading-span-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card-details {
  padding: 3rem;
}
.card-details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card-details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card-details li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card-price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card-price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card-price-value {
  font-size: 6rem;
  font-weight: 100;
}

.header {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(40, 180, 133, 0.8)), to(rgba(126, 213, 111, 0.8))), url(../img//hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8)), url(../img//hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  background-color: #f7f7f7;
}
.header .logo-box {
  margin-top: 2rem;
  margin-left: 2rem;
}
.header .logo {
  height: 3.5rem;
  width: 6rem;
}
.header .h-primary {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .h-primary-main {
  letter-spacing: 6.3rem;
  font-weight: 400;
  font-size: 6rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.header .h-primary-sub {
  letter-spacing: 1.5rem;
  font-weight: 400;
  font-size: 2rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.header .h-primary-btn {
  margin-top: 3rem;
  border-radius: 10rem;
  -webkit-animation-name: moveUp;
          animation-name: moveUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.navigation_checkbox {
  display: none;
}
.navigation_button {
  background-color: #fff;
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 6.5rem;
  right: 6rem;
  z-index: 20000;
  border-radius: 50%;
  text-align: center;
}
.navigation_button:hover {
  cursor: pointer;
}
.navigation_icon {
  position: relative;
  margin-top: 3.5rem;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
}
.navigation_icon, .navigation_icon::before, .navigation_icon::after {
  width: 3rem;
  height: 3px;
  background-color: #333;
  display: inline-block;
}
.navigation_icon::before, .navigation_icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation_icon::before {
  top: -0.8rem;
}
.navigation_icon::after {
  top: 0.8rem;
}
.navigation_button:hover .navigation_icon::before {
  top: -1rem;
}
.navigation_button:hover .navigation_icon::after {
  top: 1rem;
}
.navigation_background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(rgba(126, 213, 111, 0.8431372549), rgba(40, 180, 133, 0.9098039216));
  z-index: 10000;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.navigation_nav {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  position: fixed;
  top: 0%;
  left: -100%;
  z-index: 15000;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.navigation_list {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  list-style: none;
}
.navigation_item {
  margin: 1rem;
}
.navigation_link:link, .navigation_link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.navigation_link:hover, .navigation_link:active {
  background-position: 100%;
  color: rgba(85, 197, 122, 0.8078431373);
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}
.navigation_link span {
  margin-right: 1.5rem;
  display: inline-block;
  font-size: 3rem;
}
.navigation_checkbox:checked ~ .navigation_background {
  -webkit-transform: scale(80);
          transform: scale(80);
}
.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  left: 0%;
  -webkit-transform: translateX(100);
          transform: translateX(100);
}
.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0rem;
}
.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0rem;
}

.about {
  background-color: #f7f7f7;
  padding: 40rem 0;
  margin-top: -29vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-heading {
  margin-bottom: 8rem;
}
.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20rem;
}
.about-content-heading {
  font-weight: 700;
  text-transform: uppercase;
}
.about-content-paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.left-side {
  width: 40%;
}

.right-side {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  padding: 5rem;
}
.right-side-pic {
  width: 270px;
  height: 200px;
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline-offset: 2rem;
  border-radius: 2px;
}
.right-side-pic:hover {
  -webkit-transform: scale(1.1) translateY(-0.5rem);
          transform: scale(1.1) translateY(-0.5rem);
  z-index: 1;
  outline: 1.5rem solid rgba(85, 197, 122, 0.8078431373);
}
.right-side-pic:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.right-side .pic1 {
  background-image: url(../img/nat-1.jpg);
  left: 15rem;
  top: -2rem;
}
.right-side .pic2 {
  background-image: url(../img/nat-2.jpg);
  right: 5rem;
  top: 3rem;
}
.right-side .pic3 {
  background-image: url(../img/nat-3.jpg);
  left: 20rem;
  top: 10rem;
}

.features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(40, 180, 133, 0.8)), to(rgba(126, 213, 111, 0.8))), url(../img//nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.8)), url(../img//nat-4.jpg);
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -9rem;
}
.features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}
.features .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40rem 0;
  margin-top: -29vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f7f7;
}
.tours .cards {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.tours-btn {
  margin-top: 10rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.story {
  width: 75%;
  margin: 5rem auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}
.story-shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .story-shape {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: none;
  }
}
.story-img {
  height: 100%;
  -webkit-transform: translateX(-4rem) scale(1.4);
          transform: translateX(-4rem) scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.story-p {
  -webkit-transform: translateX(12deg);
          transform: translateX(12deg);
}
.story-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story:hover .story-caption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}
.story:hover .story-img {
  -webkit-transform: translateX(-4rem) scale(1);
          transform: translateX(-4rem) scale(1);
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: 0.15;
}
.bg-video-content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-booking {
  padding: 15rem 15rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8431372549)), to(rgba(40, 180, 133, 0.9098039216)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8431372549), rgba(40, 180, 133, 0.9098039216));
}
.section-booking .booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: linear-gradient(108deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, transparent 50%), url("../img//nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.5);
  height: 50rem;
}
.section-booking .booking-form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-booking .booking-empty {
  width: 50%;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group {
  margin-top: 5rem;
}
.form-group-btn {
  padding-bottom: 2rem;
}
.form-group-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.form-group-form-radio {
  position: relative;
}
.form-group-button {
  padding: 2rem 5rem;
  margin-top: 2rem;
}
.form-group:not(:last-child) {
  margin-bottom: 2rem;
}
.form-group:first-child {
  margin-top: 5rem;
}
.form-input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  width: 100%;
}
.form-input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(85, 197, 122, 0.8078431373);
}
.form-input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form-input::-webkit-input-placeholder {
  color: #999;
}
.form-input:-moz-placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
}
.form-input:-ms-input-placeholder + .form-label {
  opacity: 0;
  visibility: hidden;
}
.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
}
.form-radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid rgba(85, 197, 122, 0.8078431373);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -50%;
}
.form-radio-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(85, 197, 122, 0.8078431373);
  opacity: 0;
}
.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1;
}
.form-radio-input {
  display: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333;
}
.footer-left {
  width: 50%;
}
.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.footer-item {
  text-decoration: none;
}
.footer-link {
  text-decoration: none;
  padding-left: 1rem;
}
.footer-link:link, .footer-link:visited {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer-link:hover {
  color: rgba(85, 197, 122, 0.8078431373);
  -webkit-transform: rotate(5deg) scale(1.5);
          transform: rotate(5deg) scale(1.5);
  background-color: #333;
}
.footer-logo {
  padding: 5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding-bottom: 3rem;
}

.popups {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90000;
  opacity: 0;
  visibility: hidden;
}
.popups-content {
  width: 80%;
  height: 70%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.5s 0.2s ease-in-out;
  transition: all 0.5s 0.2s ease-in-out;
}
.popups:target {
  opacity: 1;
  visibility: visible;
}
.popups:target .popups-content {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.popups-left {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popups-right {
  position: relative;
  width: 65%;
  height: 100%;
  padding: 5rem;
}
.popups-img-1, .popups-img-2 {
  width: 100%;
  height: 100%;
}
.popups-close {
  text-decoration: none;
  position: absolute;
  top: 2rem;
  right: 5rem;
  font-size: 5rem;
}
.popups-close:link, .popups-close:visited {
  color: #777;
}
.popups-close:hover {
  color: rgba(85, 197, 122, 0.8078431373);
}
.popups-text {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}